#banniere

{

    height: 20%;

    width: 100%;

    background-image:url(Bannière-Acteurs-Coliving.png);
}

h1 {
    color: black;
    text-align: center;
}
h2{
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}